[user]
	signingkey = C7C6FBB5B91C1155
	name = Scott Rigby
	email = scott@r6by.com
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	ff = only
